<div class="new_conteiner">
  <p>新しいアカウントを作成</p>
  
  <%= form_with model:@user do |f| %>
  <span>必須</span>
  <%= f.text_field :name , placeholder:"ユーザー名" %>
  <span>必須</span>
  <%= f.text_field :email , placeholder:"メールアドレス" %>
  <span>必須</span>
  <%= f.password_field :password , placeholder:"パスワード" %>
  <span>必須</span>
  <%= f.password_field :password_confirmation , placeholder:"パスワード確認" %>
  <%= f.submit "新しいアカウントを作成" %>
  <% end %>

  <%= link_to "既にお持ちの方はログイン" , "users/sign_in" %>

</div>