<% if alert %>
  <%= alert %>
<% end %>
<div class="sign_in_container">
  <div class="sign_in_form">
    <p>ログイン</p>
    <%= form_with model:@user, url:sign_in_path, local: true do |form| %>  
      <div class="sign_in_content">
        <span>必須</span>
        <%= form.text_field :email , placeholder:"メールアドレス"%>
      </div>
      <div class="sign_in_content">
        <span>必須</span>
        <%= form.password_field :password , placeholder:"パスワード"%>
      </div>
      <%= form.submit "ログイン" %>
    <% end %>
    <%= link_to "新しいアカウントを作成", new_user_path %>
  </div>
</div>
