<div class="rooms_container">
  <h3>登録済みルーム一覧</h3>
  <table>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.image.url , size:"200x100" %></td>
        <td><%= link_to room.name, room_path(room) %></td>
        <td><%= room.introduction %></td>
        <td>¥<%= room.price %></td>
        <td><%= room.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </table>
</div>